html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

[type="file"] + label {
  background-color: #000;
  border-radius: 4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 4rem;
  line-height: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: background-color 0.3s;
}

[type="file"]:focus + label,
[type="file"] + label:hover {
    background-color: #f15d22;
}

[type="file"]:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

#camera--output{
    position:
}

.camera_image {
    display: inline-block;
    position: relative;
}

#camera {
    padding-top:10px;
}
.camera_input {
    width: 100px;
    margin: 0 auto;R
}
.remove {
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 26px 26px 26px 26px;
    -moz-border-radius: 26px 26px 26px 26px;
    -webkit-border-radius: 26px 26px 26px 26px;
    border: 1px solid #000000;
    background-color: #ff5757;
    font-size: small;
    text-align: center;
    width: 20px;
    height: 20px;
    z-index: 2;
}

.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}

#inner_tbl {
    padding-left: 2px
}

.td_row_even {
    padding: 2px;
    background-color: #F6F4F0
}

.td_row_odd {
    padding: 2px;
    background-color: #FFF
}

.td_head {
    padding: 2px;
    font-weight: 700
}

input,p,select,td,textarea,th {
    font-size: 1em
}

table,td,th {
    border: 1px solid gray
}

table {

width: 100%;
}