<html lang=”en”>
	<head>
		<meta charset="utf-8">
		<!-- Name of the app -->
		<title>Receipt Scanner</title>

		<!-- Link to site manifest -->

		<!-- Link to main style sheet -->
		<link rel="stylesheet" href="static/style.css">
		<link rel="stylesheet" href="static/bootstrap.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/underscore-min.js"></script>
        <script src="/static/jsonform.js"></script>
        <script src="/static/bootstrap.min.js"></script>

		<script src="static/viewer.js"></script>
	</head>
	<body>

		<!-- Camera -->
		<main id="camera">
			<div class="camera_input">
		    <input type="file" accept="image/*" id="capture" capture="camera">
			<label for="capture" class="trigger">Take a pic</label>
			</div>
			<div id="cameraOutput"></div>
		</main>

        <div class="container"  class="">
			<div id="results">

			</div>
			<div id="inner_tbl">

        </div>

		</div>

		<!-- Reference to your JavaScript file -->
		<script src="static/index.js"></script>


	</body>
</html>