<html lang=”en”>
	<head>
		<meta charset="utf-8">
		<!-- Name of the app -->
		<title>Receipt Scanner</title>

		<!-- Link to site manifest -->

		<!-- Link to main style sheet -->
		<link rel="stylesheet" href="static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>

		<!-- Camera -->
		<main id="camera">

		    <!-- Camera sensor -->
		    <canvas id="camera--sensor"></canvas>

		    <!-- Camera view -->
		    <video id="camera--view" autoplay playsinline></video>

		    <!-- Camera output -->
		    <img src="//:0" alt="" id="camera--output">

		    <!-- Camera trigger -->
		    <button id="camera--trigger">Take a picture</button>

		</main>

		<!-- Reference to your JavaScript file -->
		<script src="static/index.js"></script>


	</body>
</html>