<html lang=”en”>
	<head>
		<meta charset="utf-8">
		<!-- Name of the app -->
		<title>Receipt Scanner</title>

		<!-- Link to site manifest -->

		<!-- Link to main style sheet -->
		<link rel="stylesheet" href="static/style.css">
		<link rel="stylesheet" href="static/bootstrap.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/underscore-min.js"></script>
        <script src="/static/jsonform.js"></script>

	</head>
	<body>

		<!-- Camera -->
		<main id="camera">
		    <!-- Camera view -->
		    <video id="camera--view" autoplay playsinline></video>

		    <!-- Camera output -->
            <div id="camera--output"></div>
		    <!-- Camera trigger -->
		    <button id="camera--trigger">Take a picture</button>

		</main>

        <form>

        </form>
		<!-- Reference to your JavaScript file -->
		<script src="static/index.js"></script>


	</body>
</html>